 <div class="container">
     <div class="row">
         <div class="col-md-4">
             <img [src]="imageSrc" class="imgclass">
             <div>
                 <form #profilepicform="ngForm">
                        <input type="file" name="fileupload" (change)="onFileChanged($event)" ngModel>
                 </form>
             </div>
         </div>
         <div class="col-md-6">
             <h5>Admin Login</h5>
            <form #loginform="ngForm" (ngSubmit)="onSubmitClick()">
                <div class="form-group">
                        <input type="text"
                            class="form-control" 
                            name="username" 
                            id="username" 
                            placeholder="User Name"
                            required
                            ngModel
                            #username="ngModel">
                            <control-message [control]="loginform.controls.username"></control-message>
                         <!-- <span *ngIf="username.dirty && username.invalid" class="invalidInput">UserName is required</span> -->
                </div>
                <div class="form-group">
                        <input type="password" 
                            class="form-control" 
                            name="password" 
                            id="password" 
                            placeholder="password"
                            required
                            ngModel
                        #password="ngModel">
                        <control-message [control]="loginform.controls.password"></control-message>
                        <!-- <span *ngIf="password.dirty && password.invalid" class="invalidInput">Password is required</span> -->
                </div>
                <div class="form-group">
                        <button class="btn btn-primary" 
                            name="submitbtn" 
                            id="submitbtnId" 
                            type="submit"
                            [disabled]="loginform.invalid">  Login   </button>
                </div>    
            </form>
         </div>
     </div>
 </div>

