 <form #loginform="ngForm" (ngSubmit)="onSubmitClick()">
    <div>
            <input type="text"
                class="form-control" 
                name="nuserame" 
                id="username" 
                placeholder="User Name"
             ngModel>
    </div>
    <div>
            <input type="password" 
                class="form-control" 
                name="password" 
                id="password" 
                placeholder="password"
            ngModel>
    </div>
    <div>
        <input type="password" 
                class="form-control" 
                name="re-password" 
                id="re-password" 
                placeholder="Re enter password"
        ngModel>
    </div>
    <div>
            <button class="btn btn-primary" 
                name="submitbtn" 
                id="submitbtnId" 
                type="button">  Login   </button>
    </div>
    
</form>

